.auto-container{
    width: 60%;
    margin:0 auto;
}
h2{
    text-align: center;
}

.testimonials-carousel2 {
    display: flex;
    gap: 30px;
}
.testimonial-block-two{
    display: flex;
    width:calc( ( 100% - 60px ) / 4 );
}
.inner-box{
    display: flex;
    flex-direction: column;
}

.inner-box .testimonial{
    background-color: blanchedalmond;
    flex:1 0 auto;
}

